<div class="container-header">
  <h1 class="title">Deportes</h1>
</div>

<div class="container-historia">
  <h2>Historia del Deporte</h2>
  <p>
    El deporte tiene una larga historia que se remonta a la antigüedad. En
    Grecia, los Juegos Olímpicos se remontan al 776 a.C. y eran una serie de
    competiciones atléticas en honor a Zeus. En la antigüedad también se
    practicaban otros deportes como la lucha, el boxeo y la carrera.
  </p>

  <p>
    En el Imperio Romano, los juegos deportivos eran muy populares y se
    realizaban en el Coliseo. Se practicaban deportes como la lucha, la carrera,
    la caza y las carreras de caballos.
  </p>

  <p>
    Durante la Edad Media, los deportes eran una forma de entretenimiento y se
    practicaban en las festividades y eventos locales. Los deportes de combate
    como el juego de la pelota y los torneos caballerescos eran muy populares.
  </p>

  <p>
    En el siglo XIX, el deporte experimentó un auge en popularidad con la
    creación de clubes deportivos y la organización de competiciones
    internacionales como los Juegos Olímpicos modernos, que se reiniciaron en
    1896.
  </p>

  <p>
    Desde entonces, el deporte se ha convertido en un fenómeno global y se han
    desarrollado muchos deportes y disciplinas. Además, los avances tecnológicos
    han permitido una mayor transmisión y difusión de los deportes, lo que ha
    contribuido a su popularidad.
  </p>

  <p>
    En resumen, la historia del deporte es una historia de evolución y
    desarrollo, y ha sido una parte integral de la cultura humana a lo largo de
    los siglos.
  </p>
</div>

<div class="container-tipo">
  <h2>tipos de deportes</h2>
  <p>Hay muchos tipos de deportes, algunos de los más populares incluyen:</p>

  <p>
    Deportes de equipo: fútbol, baloncesto, béisbol, hockey sobre hielo, vóley,
    etc.
  </p>

  <P
    >Deportes individuales: tenis, atletismo, gimnasia, boxeo, natación, etc.</P
  >

  <p>
    Deportes extremos: escalada, surf, skateboard, paracaidismo, esquí extremo,
    etc.
  </p>

  <p>Deportes de combate: artes marciales, lucha libre, boxeo, etc.</p>

  <P>Deportes acuáticos: natación, esquí acuático, windsurf, vela, etc.</P>

  <P>Deportes de aventura: senderismo, ciclismo de montaña, rafting, etc.</P>

  <p>
    Estos son solo algunos ejemplos, hay muchos más tipos de deportes y
    subcategorías dentro de ellos.
  </p>
</div>

<div class="leyendas">
  <h2>leyendas del deporte</h2>
  <p class="pele">
    Pelé (23/10/1940 - 29/12/2022) 'O Rei' del fútbol, el único jugador campeón
    del mundo en tres ocasiones. Mito del Santos, del fútbol brasileño y uno de
    los mejores de la Historia. Una figura que trasciende del deporte. Padecía
    cáncer de colon.
  </p>
  <img
    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/136A/production/_113407940_pelevieja.jpg"
    height="400px" width="500px"
    alt=""
  />

  <p>
    Kathy Whitworth (27/09/1939 - 24/12/2022) La golfista con más torneos
    ganados en el circuito profesional. En un período de casi 25 años, sumó 88
    victorias en el LPGA Tour, récord absoluto, así como 95 segundos puestos.
  </p>
  <img
    src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1024-512,f_auto,q_auto:best/rockcms/2022-12/20221225-Golfer-Kathy-Whitworth-mc-0823p-865393.jpg"
    height="400px" width="500px" alt=""
  />
  <p>
    George Cohen (22/10/1939 - 23/12/2022) Formó parte de la legendaria
    selección de Inglaterra campeona del mundo en 1966. Leyenda del Fulham,
    disputó un total de 459 partidos con su club y fue internacional 37 veces
    con su país.
  </p>
  <img src="https://s1.eestatic.com/2022/12/30/actualidad/729937316_229855436_1706x960.jpg" height="400px" width="500px" alt="">

  <h4>Michael Jordan
  </h4>
  <p>
    (Michael Jeffrey Jordan; Nueva York, 1963) Jugador de baloncesto norteamericano considerado el mejor de la historia de este deporte. Ciertamente, desde que a finales del siglo XIX un profesor de gimnasia estadounidense inventó el baloncesto hasta la década de 1980, nunca se vio un prodigio comparable al de este legendario baloncestista. Con sus 1,98 metros de altura, Michael Jordan fue un tenaz defensor, un excelente anotador y un pasador rápido e imaginativo; pero mucho más llamativa era aún su extraordinaria habilidad para saltar y las acrobáticas maniobras que utilizaba para esquivar la defensa rival y llegar a la canasta. Parecía capaz de permanecer por unos instantes suspendido en el aire; tal facultad o «don del cielo» -nunca mejor dicho- le valió el sobrenombre de Air Jordan.
  </p>
  <img src="https://www.biografiasyvidas.com/biografia/j/fotos/jordan_michael_1.jpg" height="400px" width="500px" alt="">
</div>
