.body{
    background-color: aqua ;
}
.title{
    display: flex;
    color:  aliceblue;
    justify-content: center;  
}
.container-header{
    margin: 10px;
    padding: 15px;
    border-radius: 10px solid;
    background-color: blue;
}
.container-historia{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-tipo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pele{
    
}
.leyendas{
    display: flex;
    align-items: center;
    flex-direction: column;
}
